<%
@page_title = current_user ? "Dashboard" : "Welcome"
%>
<% if !current_user.nil? %>
<table>
  <tr>
    <td><strong>Total Tracks:</strong></td><td><%= @total_tracks -%></td>
  </tr>
  <tr>
    <td><strong>Total Active Time:</strong></td><td><%= sprintf("%.2f", @total_active_time / 60) -%> minutes</td>
  </tr>
  <tr>
    <td><strong>Total Distance:</strong></td><td><%= sprintf("%.2f", @total_distance.to_f.meters.to.miles.to_f) -%> miles</td>
  </tr>
</table>

<h3>Total miles tracked by day, for this month</h3>
<div id="distance_graph" style="width:600px;height:300px"></div>
<h3>Total hours tracked by day, for this month</h3>
<div id="duration_graph" style="width:600px;height:300px"></div>

<%= javascript_include_tag 'flot/jquery.flot.min.js'%>
<script id="source" language="javascript" type="text/javascript">
$(function () {
var distance_data = [
<% @user_data.each_with_index do |x, index| %>
  <%= "[#{Time.mktime(x['year'], x['month'], x['day']).to_i * 1000}, #{x['distance'].to_f.meters.to.miles.to_f}]," -%>
<% end %>
];

var duration_data = [
<% @user_data.each do |x|%>
  <%= "[#{Time.mktime(x['year'], x['month'], x['day']).to_i * 1000}, #{x['duration'].to_i / 60 / 60}]," -%>
<% end %>
];
    var ms_per_day = 1000*60*60*24;
    $.plot($("#distance_graph"), [{data: distance_data, bars: {show: true, barWidth: ms_per_day }}], {xaxis: {mode: "time"}});
    $.plot($("#duration_graph"), [{data: duration_data, bars: {show: true, barWidth: ms_per_day }}], {xaxis: {mode: "time"}});
});
</script>

<a href="/tracks">View All Tracks</a>
<% else %>
<p>
  Welcome to Trackster.org
</p>
<p>
  Trackster is a an easy to use tool that allows you to input your MotionX GPS tracks, so you can see aggregate statistics about your tracks, i.e. total distance travelled.
</p>
<p>
  We'll continue to add new features, statistics, graphs and aggregations.
</p>
<a href="/signup">Signup Now</a>

<% end %>
